[submodule "examples/cuda-samples"]
	path = examples/cuda-samples
	url = git@github.com:NVIDIA/cuda-samples.git
[submodule "examples/hip-samples"]
	path = examples/hip-samples
	url = git@github.com:ROCm/HIP-Examples.git
[submodule "examples/kokkos-examples"]
	path = examples/kokkos-examples
	url = https://github.com/kokkos/kokkos-tutorials.git
